            
<h1>Transacciones</h1>

<table id="tablelist" class="full tablesorter">
<thead>
    <tr>
        <th class="header">Operacion</th>
        <th class="header">Datos</th>
        <th class="header">Transaction BSA</th>
        <th class="header">Estado de transaccion</th>
        <th class="header">Pagar Todopago</th>
        <th class="header">Estado del Pago</th>
        <th class="header">Confirmar pago Decidir</th>
        <th class="header">Estado del Pago</th>
        <th class="header">Pushnotification BSA</th>
        <th class="header">Estado pushnotification</th>
    </tr>
</thead>
<tbody>


    <% rows.forEach( row => { %>
       
        <tr>
            <td>sdk_node<%= row.id %></td>
            <td>
                <% if(row.data){ %>
                        CARGADOS
                <% }else{ %>
                        PENDIENTE
                <% } %>
            </td>

            <td><a href="transaction?ord=<%= row.id %>" class="btn site btn-sm  ">Transaction</a></td>
            <td>
                <% if(row.transactionresponse){ %>
                        CARGADOS
                <% }else{ %>
                        PENDIENTE
                <% } %>
            </td>

            <td>
                <a href="pago_tp?ord=<%= row.id %>" class="btn site btn-sm 
                <% if(row.transactionresponse){ %>
                <% }else{ %>
                        disabled
                <% } %>

                ">Pagar TP</a>
            </td>
            <td>
                <% if(row.pagotpstatus){ %>      
                    <%= row.pagotpstatus %>
                <% }else{ %>
                    PENDIENTE
                <% } %>
            </td>

            <td><a href="pago_decidir?ord=<%= row.id %>" class="btn site btn-sm
            <% if(row.pagotpstatus!="ACEPTADO"){ %>
                disabled
            <% } %>

            ">Pago Decidir</a></td>
            <td>
                <% if(row.pagotpstatus){ %>
                    <%= row.pagotpstatus %>
                <% }else{ %>      
                    PENDIENTE
                <% } %>
            </td>

            <td><a href="push_notification?ord=<%= row.id %>" class="btn site btn-sm 
            <% if(row.pagotpstatus!="ACEPTADO"){ %>
                disabled
            <% } %>
            ">Pushnotification</a></td>
            <td>
            <% if(row.pushstatus){ %>
                <%= row.pagotpstatus %>
            <% }else{ %>
                PENDIENTE
            <% } %>   
            </td>
        </tr>

    <% }) %>

</tbody>

<tfoot>
  <tr>
    <td colspan="10"><a href="data" class="btn info">Nuevo</a></td>
  </tr>
</tfoot>
</table>
<div>Nota: Realizar las compras de Decidir sin Cybersource</div>
